/*Zoller Header CSS */

.fsf-zoller-simpleheader {
    position: relative;
    margin-bottom: 150px !important;
}

.fsf-zoller-simpleheader .header-image {
    background-color: transparent;
    background-image: none;

    /* Set a specific height */
    height: calc(100vh - 142px);

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fsf-zoller-simpleheader .header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
}

.fsf-zoller-simpleheader .header-text.text-black {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 110px;
    max-width: 1524px;
    display: block;
    margin: 0 auto;
}

.fsf-zoller-simpleheader .header-text h1 {
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.fsf-zoller-simpleheader .header-text h3 {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 30px;
}

.fsf-zoller-simpleheader .header-text.text-black h3 {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.fsf-zoller-simpleheader .header-text.text-black h1 {
    font-size: 240px;
    font-weight: 500;
}

.fsf-zoller-simpleheader .header-text.text-black h3 {
    text-align: left;
    font-size: 64px;
    line-height: 74px;
    font-weight: 500;
}

.fsf-zoller-simpleheader .header-text.text-black h1,
.fsf-zoller-simpleheader .header-text.text-black h3 {
    color: black;
}

.fsf-zoller-simpleheader .scrolldown-button {
    max-width: 68px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    max-height: 68px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.fsf-zoller-simpleheader .scrolldown-image {
    max-width: 68px;
}

.fsf-zoller-simpleheader .background-video {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.fsf-zoller-simpleheader .slick-prev {
    left: 0px;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.fsf-zoller-simpleheader .slick-next {
    right: 0px;
    width: 60px;
    height: 60px;
    z-index: 999;
}

.fsf-zoller-simpleheader .slick-dots li button:before {
    opacity: 0.75;
}

.fsf-zoller-simpleheader .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #f0e600;
}

.fsf-zoller-simpleheader .slick-dots {
    bottom: 15px;
}

.fsf-zoller-simpleheader .overlay-simple-header-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.fsf-zoller-simpleheader
    .overlay-simple-header-image-wrapper
    .overlay-simple-header-image {
    z-index: 999;
    max-width: 100%;
}

.header-image-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .header-image-mobile {
        display: inherit;
    }
    .header-image-desktop {
        display: none;
    }
    .fsf-zoller-simpleheader {
        margin-bottom: 60px !important;
    }

    .fsf-zoller-simpleheader .header-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        width: 100%;
    }

    .fsf-zoller-simpleheader .header-text h1 {
        font-size: 55px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .fsf-zoller-simpleheader .header-text h3 {
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .fsf-zoller-simpleheader .header-image {
        max-height: 550px;
    }

    .fsf-zoller-simpleheader .header-image.header-image-black {
        max-height: 736px;
    }

    .fsf-zoller-simpleheader .scrolldown-button {
        display: none;
    }

    .fsf-zoller-simpleheader .slick-prev {
        left: 0px;
        width: 30px;
        height: 30px;
        z-index: 999;
    }

    .fsf-zoller-simpleheader .slick-next {
        right: 0px;
        width: 30px;
        height: 30px;
        z-index: 999;
    }
    /*new*/
    .fsf-zoller-simpleheader .header-text.text-black h1 {
        font-size: 64px;
        line-height: 74px;
        font-weight: 500;
    }

    .fsf-zoller-simpleheader .header-text.text-black h3 {
        text-align: left;
        font-size: 32px;
        line-height: 44px;
        font-weight: 500;
        max-width: 1000px;
    }

    .fsf-zoller-simpleheader .header-text.text-black {
        height: 100%;
        padding-top: 54px;
        padding-bottom: 100px;
        max-width: 1524px;
        display: block;
        margin: 0 auto;
    }

    .fsf-zoller-simpleheader .header-text.text-black h3 {
        left: 17px;
    }

    .fsf-zoller-simpleheader .overlay-simple-header-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
    }

    .fsf-zoller-simpleheader
        .overlay-simple-header-image-wrapper
        .overlay-simple-header-image {
        z-index: 999;
    }
}
